<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->

    <link href={{ url_for('static', filename='../static/Flat-UI-master/bootstrap/css/bootstrap.css' )}} rel="stylesheet">
    <link href={{ url_for('static', filename='../static/Flat-UI-master/css/flat-ui.css' )}} rel="stylesheet">
    <link href={{ url_for('static', filename='../static/Flat-UI-master/images/favicon.ico' )}} rel="shortcut icon">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style=''> <!--for the navibar always top-->

    <div class='container'>

  <div>
            
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" id='navi-menu' href = '/'>HOUT</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav">           
              
              <li id="nav-event-div"><a href='/events'>Events</a></li>
              
              {% if not current_user.is_authenticated() %}  
                <li id="nav-propose-div"><a href='/login'>Propose</a></li>
                <li id="nav-myevents-div"><a href='/login'>My Events</a></li>
                <li id="nav-myrequest-div"><a href='/login'>My Requests</a></li>
                <li id="nav-setting-div"><a href='/login'>Settings</a></li>
                <li><a href='/login'>Login</a></li>
              {% else %}
                <li class = "active" id="nav-propose-div"><a href='/create_events'>Propose</a></li>
                <li id="nav-myevents-div"><a>My Events</a></li>
                <li id="nav-myrequest-div"><a>My Requests</a></li>
                <li id="nav-setting-div"><a>Settings</a></li>
                <li><a href='/logout'>Logout - {{ current_user.email }}</a></li>
              {% endif %}
            
            </ul>           

            <form class="navbar-form navbar-right" action="#" role="search">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                  <span class="input-group-btn">
                    <button type="Submit" class="btn btn-success"><span class="fui-search"></span></button>
                  </span>            
                </div>
              </div>               
            </form>
            </div><!-- /.navbar-collapse -->

            <div id="left-menu" style="display:none">
                <a href="#">Home</a><br>
                <a href="#">Events</a><br>
                <a href="#">Matches</a><br>
                <a href="#">Requests</a><br>
                <a href="#">Settings</a><br>
                <a href="javascript:$.pageslide.close()"><strong>Close</strong></a>
            </div>

        </nav><!-- /navbar -->

            <div style='height:50px'></div>
            </div>


        <div class='row'>

            <div class="col-md-6">    
                <h2>Create an Event!</h2>
                <h6></h6>
            </div>
          </div>
    
    <div class="col-md-3">

 <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">

    <div class="form-group">
      <input type="text" id="title" name="title" placeholder="Event Title" class="form-control" />
      
    </div>

    <div class="form-group">
      <input type="text" id="description" name="description" placeholder="Description" class="form-control" />
    </div>

    <div class="form-group">
      <input type="text" id="location" name="location" placeholder="Location" class="form-control" />
    </div>


    <div class="form-group">
      <input type="text" id="time" name="time" placeholder="Event Time" class="form-control" />
    </div>


    <input id='postAjaxBtn' class="btn btn-primary btn-lg btn-block" value='Create' >
    <h6> </h6>
    <a class="btn btn-warning btn-lg btn-block" href="/" role="button">Cancel</a>
                
</form>
</div>

</div>


    <!-- Load JS here for greater good =============================-->
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery-1.8.3.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery-ui-1.10.3.custom.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.ui.touch-punch.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap-select.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap-switch.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/flatui-checkbox.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/flatui-radio.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.tagsinput.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.placeholder.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.scrollTo.min.js')}} ></script>
   
     <script>
      $(document).ready(function() {   
          
          function tableReset()
          {
              $.each($("#demoTable tr"),function(i,tr){
                $(this).remove();
              });
              
              $('#demoTable thead').after("<tr><th>id</th><th>k1</th><th>k2</th><th>D</th><th>U</th></tr>");
          }

          function tableInsert(obj)
          {
            var newtr = "<tr><td>" + obj['_id']['$oid']+ "</td>" 
            + "<td>" + obj['k1']+ "</td>" 
            + "<td>" + obj['k2']+ "</td>"
            + "<td><button class='deleteAjaxBtn btn-xs btn-danger'>DELETE</button></td>"
            + "<td><button class='updateAjaxBtn btn-xs btn-warning'>UPDATE</button></td>"
            + "</tr>";

            $('#demoTable tr:last').after(newtr);
          }

          //Assume the same id
          function tableRemove(obj)
          {
            var id = obj['_id']['$oid'];
            $("#demoTable tr td:contains('"+id+"')").parent().remove();
          }


          $("#postAjaxBtn").click(function(event){

          var data = {"_method":"POST","title":$("#title").val(),"description":$("#description").val(),"location":$("#location").val(),"time":$("#time").val()}
          var djson = JSON.stringify(data);
          var url = "{{ url_for('event_api.api_event_post') }}";
    
          console.log(djson);
          $.ajax({
              type: "POST",
              url: url,
              data: djson,
              contentType: 'application/json;charset=UTF-8',
              error: function(e) {
                console.log("get an error");
                console.log(e);
              },
              success: function(data){
                window.location = '/events';
               }
            
            });

          });



          /*
          The type of request to make ("POST" or "GET"), default is "GET". Note: Other HTTP request methods, such as PUT and DELETE, can also be used here, but they are not supported by all browsers.
          */
          $(document).on('click', '.deleteAjaxBtn', function(){
          
            var data = {"_method":"DELETE"}
            var djson = JSON.stringify(data);
            var docid = $(this).parent().siblings().first().text();
            var url = "{{ url_for('test_api.test_mongo_getputdelete', _id=null) }}"; // page generated from server...
            url = url +  docid;

            console.log(djson);
            console.log(url);
            
            $.ajax({
              type: "POST",
              url: url,
              data: djson,
              contentType: 'application/json;charset=UTF-8',
              error: function(e) {
                console.log("get an error");
                console.log(e);
                alert("error");
              },
              success: function(data){
                //alert("DELETEed + " + data);
                obj = $.parseJSON(data);
                tableRemove(obj);
              }
            
            });

          });

          $(document).on('click', '.updateAjaxBtn', function(){
            var docid = $(this).parent().siblings().first().text();
            var url = "{{ url_for('test_api.test_mongo_getputdelete', _id=null) }}";
            url = url +  docid;
            
            var data = {"_method":"PUT","k1":$("#k1").val(),"k2":$("#k2").val()}
            var djson = JSON.stringify(data);
            
            $.ajax({
              type: "POST",
              url: url,
              data: djson,
              contentType: 'application/json;charset=UTF-8',
              error: function(e) {
                console.log("get an error");
                console.log(e);
                alert("error");
              },
              success: function(data){
                //alert("Updated + " + data);
                obj = $.parseJSON(data);
                tableRemove(obj);
                tableInsert (obj); 
              }
            
            });

          });


        });
    </script>
  </body>
</html>
