<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->

    <link href={{ url_for('static', filename='../static/Flat-UI-master/bootstrap/css/bootstrap.css' )}} rel="stylesheet">

    <link href={{ url_for('static', filename='../static/jasny-bootstrap/css/jasny-bootstrap.min.css' )}} rel="stylesheet">

     <link href={{ url_for('static', filename='../static/jasny-bootstrap/css/jasny-bootstrap.css' )}} rel="stylesheet">

    <link href={{ url_for('static', filename='../static/Flat-UI-master/css/flat-ui.css' )}} rel="stylesheet">
    <link href={{ url_for('static', filename='../static/Flat-UI-master/images/favicon.ico' )}} rel="shortcut icon">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style=''> <!--for the navibar always top-->

    <div class='container'>


        {% with active_nav='nav-settings' %}
          {% include "_header.html" %}
        {% endwith %}



        <div class='row' style='padding-top:53px'>

            <div class="col-md-4 text-center">    
                <h3>Edit Profile</h3>
                <h6></h6>
            </div>
          </div>
    
	<div class="col-md-4">
	  <form class="form-horizontal" role="form">
      <fieldset>

      <div class="from-group">

      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
        <div>
          <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="img"></span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </div>
      </div>

    </div>





	    <div class="form-group">
	      <label class="col-sm-2 control-label">Name</label>
	      <div class="col-sm-10">
		      <input type="text" id="name" class="form-control" placeholder="name_from_server">
	      </div>
	    </div>
      
	    <div class="form-group">
	      <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">
        <select id="gender" class="form-control">
          <option>Male</option>
          <option>Female</option>
        </select>
        </div>
	    </div>


      <div class="form-group">
        <label class="col-sm-2 control-label">Age</label>
        <div class="col-sm-10">
          <input type="text" id="age" class="form-control" placeholder="age_from_server">
        </div>    
      </div>



      <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-12">
          <textarea id = "description" class="form-control" rows="3">description_from_server</textarea>
        </div>    
      </div>


    </fieldset>

      <div class="from-group">
        <input id='postAjaxBtn' class="btn btn-primary btn-block" value='Done' >
        <a type="button" class="btn btn-danger" href="/profile">Cancel</a>
        
      </div>


	  </form>
	  
	  
	</div>

</div>


    <!-- Load JS here for greater good =============================-->
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery-1.8.3.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery-ui-1.10.3.custom.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.ui.touch-punch.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap.min.js')}} ></script>


    <script src={{ url_for('static', filename='../static/jasny-bootstrap/js/jasny-bootstrap.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/jasny-bootstrap/js/jasny-bootstrap.js')}} ></script>


    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap-select.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap-switch.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/flatui-checkbox.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/flatui-radio.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.tagsinput.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.placeholder.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.scrollTo.min.js')}} ></script>
   
     <script>
      $(document).ready(function() {   
          
          function tableReset()
          {
              $.each($("#demoTable tr"),function(i,tr){
                $(this).remove();
              });
              
              $('#demoTable thead').after("<tr><th>id</th><th>k1</th><th>k2</th><th>D</th><th>U</th></tr>");
          }

          function tableInsert(obj)
          {
            var newtr = "<tr><td>" + obj['_id']['$oid']+ "</td>" 
            + "<td>" + obj['k1']+ "</td>" 
            + "<td>" + obj['k2']+ "</td>"
            + "<td><button class='deleteAjaxBtn btn-xs btn-danger'>DELETE</button></td>"
            + "<td><button class='updateAjaxBtn btn-xs btn-warning'>UPDATE</button></td>"
            + "</tr>";

            $('#demoTable tr:last').after(newtr);
          }

          //Assume the same id
          function tableRemove(obj)
          {
            var id = obj['_id']['$oid'];
            $("#demoTable tr td:contains('"+id+"')").parent().remove();
          }


          $("#postAjaxBtn").click(function(event){
            console.log('=============');
            console.log('=============');
            console.log('=============');
            var data = {"_method":"POST",
              "name":$("#name").val(),
              "gender":$("#gender").val(),
              "age":$("#age").val(),
              "description":$("#description").val()
            }
          var djson = JSON.stringify(data);
          var url = "{{ url_for('profile_api.api_profile_post') }}";
    
          console.log(djson);
          $.ajax({
              type: "POST",
              url: url,
              data: djson,
              contentType: 'application/json;charset=UTF-8',
              error: function(e) {
                console.log("get an error");
                console.log(e);
              },
              success: function(data){
                window.location = '/profile';
               }
            
            });

          });



          /*
          The type of request to make ("POST" or "GET"), default is "GET". Note: Other HTTP request methods, such as PUT and DELETE, can also be used here, but they are not supported by all browsers.
          */
          $(document).on('click', '.deleteAjaxBtn', function(){
          
            var data = {"_method":"DELETE"}
            var djson = JSON.stringify(data);
            var docid = $(this).parent().siblings().first().text();
            var url = "{{ url_for('test_api.test_mongo_getputdelete', _id=null) }}"; // page generated from server...
            url = url +  docid;

            console.log(djson);
            console.log(url);
            
            $.ajax({
              type: "POST",
              url: url,
              data: djson,
              contentType: 'application/json;charset=UTF-8',
              error: function(e) {
                console.log("get an error");
                console.log(e);
                alert("error");
              },
              success: function(data){
                //alert("DELETEed + " + data);
                obj = $.parseJSON(data);
                tableRemove(obj);
              }
            
            });

          });

          $(document).on('click', '.updateAjaxBtn', function(){
            var docid = $(this).parent().siblings().first().text();
            var url = "{{ url_for('test_api.test_mongo_getputdelete', _id=null) }}";
            url = url +  docid;
            
            var data = {"_method":"PUT","k1":$("#k1").val(),"k2":$("#k2").val()}
            var djson = JSON.stringify(data);
            
            $.ajax({
              type: "POST",
              url: url,
              data: djson,
              contentType: 'application/json;charset=UTF-8',
              error: function(e) {
                console.log("get an error");
                console.log(e);
                alert("error");
              },
              success: function(data){
                //alert("Updated + " + data);
                obj = $.parseJSON(data);
                tableRemove(obj);
                tableInsert (obj); 
              }
            
            });

          });


        });
    </script>
  </body>
</html>
