<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->

    <link href={{ url_for('static', filename='../static/Flat-UI-master/bootstrap/css/bootstrap.css' )}} rel="stylesheet">
    <link href={{ url_for('static', filename='../static/Flat-UI-master/css/flat-ui.css' )}} rel="stylesheet">
    <link href={{ url_for('static', filename='../static/Flat-UI-master/images/favicon.ico' )}} rel="shortcut icon">
    <link href={{ url_for('static', filename='../static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' )}} rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

  <!-- search box style -->
   <Style>
       #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 240px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }
   </Style>

    <style>
    .form-control {
     color: #000000 !important;
    }
   </style>

  </head>
  <body style=''> <!--for the navibar always top-->

    <div class='container'>
    <input id="pac-input"></input>
  <div>
            
        {% with active_nav='nav-propose' %}
          {% include "_header.html" %}
        {% endwith %}

        <div class='row' style='padding-top:53px'>

            <div class="text-center col-md-6">    
                <h3>
{% if paras.action == 'create' %}
    Create An Event!
{% elif paras.action == 'view' %}
    Event Details
{% elif paras.action == 'edit' %}
    Edit Event
{% else %}
    Event
{% endif %} 
    </h3>                
            </div>
        </div>
    
      
<div class="col-md-4">
  <form class="form" data-toggle="validator" role="form">
    <fieldset>
    <div class="form-group col-md-12">
      <label class="col-sm-4 control-label" required>Event Title</label>
       <div class="col-sm-8">
          <input type="text" id="title" placeholder="Event Title" class="form-control" value='{{ev.title}}'/>
          
        <!--span class="input-icon fui-new"></span-->
       </div> 

    </div>

    <div class="form-group col-md-12">
       <label class="col-sm-4 control-label">Description</label>
       <div class="col-sm-8">
          <input type="text" id="description" placeholder="Description" class="form-control" value='{{ev.description}}'/>
          <!--span class="input-icon fui-list"></span-->
      </div>      
    </div>


    <div class="form-group col-md-12">
       <label class="col-sm-4 control-label">Start Time </label>
       <div class= "col-sm-8">
        <input type="text" class="form-control" id="startTime" placeholder="Start Time" value='{{ev.startTime}}'/> 
      </div>  
    </div>

    <div class="form-group col-md-12">
       <label class="col-sm-4 control-label">End Time</label>
       <div class= "col-sm-8">
        <input type="text" class="form-control" id="endTime" placeholder="End Time" value='{{ev.endTime}}'/> 
      </div>  
    </div>


    

     <div class="form-group col-md-12">
       <label class="col-sm-4 control-label">Location</label>
       <div class="col-sm-8">
          <input type="text" id="location" placeholder="Location" class="form-control" value='{{ev.location}}' />
          <!--span class="input-icon fui-location"></span--> 
      </div>     
    </div>

{% if paras.action == 'create' %}
<input id='postAjaxBtn' class="col-sm-4 btn btn-primary btn-lg" value='Create' >

{% elif paras.action == 'view' %}
<!--a class="btn btn-success btn-lg btn-block" href="/event/edit/{{ev.id}}" role="button">Edit</a-->
  {% if current_user.id|string==ev.userID %} <!--TBD-->
    <a class="col-sm-4 btn btn-success btn-lg " href="/event/edit/{{ev.id}}" role="button">Edit</a> 
  {% else %}
      {% set vars = {'foo': False} %}
      {% for rq in ev.Requests %}
        {% if current_user.id|string == rq.reqUserId  %}
          {% if vars.update({'foo': True}) %} {% endif %}
        {% endif %}
      {% endfor %}

      {% if vars.foo or not current_user.is_authenticated()  %}
        <input id='requestAjaxBtn' class="col-sm-4 btn btn-primary btn-lg" event = {{ev.id}} alt={{vars.foo}} eventowner = {{ev.userID}} disabled="disabled" value='Request' >
      {% else %}
        <input id='requestAjaxBtn' class="col-sm-4 btn btn-primary btn-lg" event = {{ev.id}}  eventowner = {{ev.userID}} value='Request' >
      {% endif %}
    <!-- <a class="btn btn-success btn-lg btn-block" href="/" role="button">Request</a>  -->
  {% endif %}  
{% elif paras.action == 'edit' %}
  <input id='editAjaxBtn' class="col-sm-4 btn btn-primary btn-lg" abc = {{ev.id}} value='Finish' >
{% else %}

{% endif %}
    <label class="col-sm-1"></label>
    <a class="col-sm-4 btn btn-warning btn-lg " href="/events" role="button">Cancel</a>

  </fieldset>
  </form>       
  </div>
  
  <div class="col-md-9" id ='mapcanvas' style='height:400px;width:400px;'>

  </div>

  {% if current_user.id|string == ev.userID %}

    <div>

    <table id='requestList' class="table table-striped table-hover">
  <!-- <col width="150"> -->
    <col width="150">
    <col>
    <col width="120">
        <thead>
        </thead>
        <tbody>
          
           {% for rq in ev.Requests %} 
           <a href="#"> <!-- (TBD) click to see event details -->
                <tr>
                    <td valign="middle"> 
                        <img src='{{ rq.reqProfile.image }}' alt="User Profile Photo" class="img-thumbnail img-responsive" >      
                    </td>
                    <td style="vertical-align:middle">
                      <b>Name</b>: {{ rq.reqProfile.name }}<br>
                      <b>Gender</b>: {{ rq.reqProfile.gender }} <br> 
                      <b>Age</b>: {{rq.reqProfile.age}} <br>
                      <b>Description</b>: {{ rq.reqProfile.description }}
                      <!-- <br> -->
                      <!-- <b>Created On</b>: {{ev.createTime}}> -->
                    </td>
                  <td style="vertical-align:middle">
                    {% if rq.status== 'pending' %}
                    <input class="btn btn-warning btn-mini btn-block" id = "updateAjaxBtn" href="/event/view/{{ev.id}}" for = {{rq.reqUserId}} abc = {{rq.eventId}} role="button" value='Accept'>
                    <!-- <a class="btn btn-primary btn-mini btn-block" href="/event/view/{{ev.id}}" role="button">View Requester Profile</a>  -->
                    {% elif rq.status== 'matched' %}
                     <input class="btn btn-success btn-mini btn-block" id = "updateAjaxBtn" href="/event/view/{{ev.id}}" for = {{rq.reqUserId}} abc = {{rq.eventId}} role="button" disabled="disabled" value='Matched'>
                    {% elif rq.status=='declined' %}
                    <input class="btn btn-danger btn-mini btn-block" id = "updateAjaxBtn" href="/event/view/{{ev.id}}" for = {{rq.reqUserId}} abc = {{rq.eventId}} role="button" disabled="disabled" value='Declined'>
                    {% endif %}
                   </td>
                </tr>
           </a>
         
         {% endfor %}
      </tbody>
    </table> 
  </div>
  {% else %}
    
  {% endif %}

</div>


    <!-- Load JS here for greater good =============================

    <!-- import the Google map api -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&language=en"></script>
     <script type="text/javascript">
            $(document).ready(function () {
                $('.datepicker').datetimepicker({
                    language: 'en'
                });
            });
     </script>

<script src="../static/jQuery-Form-Validator/jquery.form-validator.min.js"></script>
<script>
/* important to locate this script AFTER the closing form element, so form object is loaded in DOM before setup is called */
    $.validate({
        modules : 'date, security'
    });
</script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery-1.8.3.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery-ui-1.10.3.custom.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.ui.touch-punch.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap-select.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap-switch.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/flatui-checkbox.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/flatui-radio.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.tagsinput.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.placeholder.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.scrollTo.min.js')}} ></script>
    
    <script src={{ url_for('static', filename='../static/bootstrap-timepicker/js/bootstrap-timepicker.js')}} ></script>
    <link href={{ url_for('static', filename='../static/bootstrap-timepicker/css/bootstrap-timepicker.css' )}} rel="stylesheet">

    <script src={{ url_for('static', filename='../static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')}} ></script>
    

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

    <link rel="stylesheet" type="text/css" href="../datetimepicker/jquery.datetimepicker.css"/ >
    <script src="../datetimepicker/jquery.js"></script>
    <script src="../datetimepicker/jquery.datetimepicker.js"></script>
   <script>
      $(document).ready(function() {   
          jQuery('#startTime').datetimepicker();

          jQuery('#endTime').datetimepicker();

        console.log('{{ current_user.email }}');
        console.log('{{ current_user.id }}');
        console.log('{{ ev.userID }}');
        
        //console.log('{{ paras.user_id  }}');

          
        $('.datetimepicker').datetimepicker({
            language: 'en'
          });

        ACTION =  "{{paras.action}}"; //create view edit

        if(ACTION == 'view')
        {
          $(".form-group input").attr('disabled','disabled');
        }
        
        // // $('#timse').timepicker({
        //         minuteStep: 5,
        //         showInputs: false,
        //         disableFocus: true
        // });

        userID = '{{ current_user.id }}';
        locGeoLat = 0;
        locGeoLng = 0;

        function getZIP(latlng)
        {
          return "06511";
        }

        function getGeoLocation()
        {

          function geoSuccess(position) {
            console.log(position);
            

            locGeoLat = position.coords.latitude;
            locGeoLng = position.coords.longitude;
            // var mapcanvas = document.createElement('div');
            // mapcanvas.id = 'mapcanvas';
            // mapcanvas.style.height = '400px';
            // mapcanvas.style.width = '560px';
              
            // $("#maphere").after(mapcanvas);
            
            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var myOptions = {
              zoom: 15,
              center: latlng,
              mapTypeControl: false,
              navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);

            

                //modify the postion here
                // console.log(latlng);
               //{{ev.location}}
                //console.log(ev);
            {% if ev is not none %}
              latlng.A = '{{ev.LatLng.coordinates[1]}}';
              latlng.k = '{{ev.LatLng.coordinates[0]}}';
            {% endif %}
              //latlng = '{{ev.LatLng}}';
              //console.log(latlng.A);
              //console.log(latlng.k); 

            var marker = new google.maps.Marker({

                position: latlng, 
                map: map, 
                description: ("GEO [" + locGeoLat + ":" + locGeoLng + "]") ,  
                title:"You are here! (at least within a "+position.coords.accuracy+" meter radius)",
                draggable:true
            });
            

          



          if ('{{ paras.action}}' != 'view') 
          {

            console.log("ADD BOX");

          // Create the search box and link it to the UI element.
            var input = /** @type {HTMLInputElement} */(
            document.getElementById('pac-input'));
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

          console.log("ADD BOX1");
          //meng add if

            var searchBox = new google.maps.places.SearchBox(
           /** @type {HTMLInputElement} */(input));

          
          // [START region_getplaces]
          // Listen for the event fired when the user selects an item from the
          // pick list. Retrieve the matching places for that item.
          google.maps.event.addListener(searchBox, 'places_changed', function(data) 
          {

              // markers = [];
               var bounds = new google.maps.LatLngBounds();


               var places = searchBox.getPlaces();
             

                 place = places[0];
                 disc = place['formatted_address'];
                 //set location box to search box value
                 $("#location").val(disc);

                                  //alert(this.position.d);
                 locGeoLat = place.geometry.location.k;
                 locGeoLng = place.geometry.location.A;
                 


                  // Create a marker for each place.
                 marker = new google.maps.Marker({
                 map: map,
                 
                 position: place.geometry.location,
                 description: ("GEO [" + position.coords.latitude + ":" + position.coords.longitude + "]") ,  
                 title:"You are here! (at least within a "+position.coords.accuracy+" meter radius)",
                 draggable:true
                 
               });




                 google.maps.event.addListener(marker, 'click', function(data)
                  {
                    var infowindow = new google.maps.InfoWindow();
                    infowindow.setContent(this.description);
                    infowindow.open(map, this);
                 });



                  bounds.extend(place.geometry.location)
                  
                  
                  
               

                 google.maps.event.addListener(marker, 'dragend', function(data){
                 //alert(this.position.e);
                 //alert(this.position.d);
                 locGeoLat = this.position.k;
                 locGeoLng = this.position.A;
                 this.description = "GEO [" + locGeoLat + ":" + locGeoLng + "]";
                 });

           

               map.fitBounds(bounds);


        google.maps.event.addListener(map, 'bounds_changed', function()
         {
           var bounds = map.getBounds();
           searchBox.setBounds(bounds);
         });


          }); //searchbox ends
          // [END region_getplaces]


          }//if
           
          //meng add if
          {}

          
            google.maps.event.addListener(marker, 'dragend', function(data){
              //alert(this.position.e);
              //alert(this.position.d);
              locGeoLat = this.position.k;
              locGeoLng = this.position.A;
              this.description = "GEO [" + locGeoLat + ":" + locGeoLng + "]";
            });

            google.maps.event.addListener(marker, 'click', function(data) {
              var infowindow = new google.maps.InfoWindow();
              infowindow.setContent(this.description);
              infowindow.open(map, this);
            });

          }

          function geoError(msg) {
            console.log(msg);
          }


          navigator.geolocation.getCurrentPosition(geoSuccess, geoError);

        }

        getGeoLocation();
        


          $("#postAjaxBtn").click(function(event){

          var data = {"_method":"POST",
              "title":$("#title").val(),
              "description":$("#description").val(),
              "location":$("#location").val(),
              
              "startTime":$("#startTime").val(),
              "endTime":$("#endTime").val(),
              "latitude":locGeoLat,
              "longitude":locGeoLng,
              "ZIP":getZIP(locGeoLat + "," + locGeoLng),
              "userID": userID
            }

          var djson = JSON.stringify(data);
          var url = "{{ url_for('event_api.api_event_post') }}";
    
          console.log(djson);
          $.ajax({
              type: "POST",
              url: url,
              data: djson,
              contentType: 'application/json;charset=UTF-8',
              error: function(e) {
                console.log("get an error");
                console.log(e);
              },
              success: function(data){
                window.location = '/events';
               }
            
            });

          });



        $("#requestAjaxBtn").click(function(event){
          var eid = $(this).attr('event');
          var oid = $(this).attr('eventowner');
          var uid = userID;
          var data = {"_method":"POST", 
                      "eventId": eid, 
                      "reqUserId": uid,
                      "eventOwnerId":oid}

          var djson = JSON.stringify(data);
          var url = "{{ url_for('eventmatch_api.eventmatch_join_request') }}";
    
          console.log(djson);
          $.ajax({
              type: "POST",
              url: url,
              data: djson,
              contentType: 'application/json;charset=UTF-8',
              error: function(e) {
                window.location = '/profile/view/'+uid;
              },
              success: function(data){
                window.location = '/events';
               }
            
            });

          });


          $("#editAjaxBtn").click(function(event){

          var eid = $(this).attr('abc');
          var data = {"_method":"PUT",
              "eventId":eid,
              "title":$("#title").val(),
              "description":$("#description").val(),
              "location":$("#location").val(),
              "startTime":$("#startTime").val(),
              "endTime":$("#endTime").val(),
              "latitude":locGeoLat,
              "longitude":locGeoLng,
              "ZIP":getZIP(locGeoLat + "," + locGeoLng),
              "userID": userID
            }

          var djson = JSON.stringify(data);
          var url = "{{ url_for('event_api.api_event_post') }}";
    
          console.log(djson);
          $.ajax({
              type: "POST",
              url: url,
              data: djson,
              contentType: 'application/json;charset=UTF-8',
              error: function(e) {
                console.log("get an error");
                console.log(e);
              },
              success: function(data){
                window.location = '/events';
               }
            
            });

          });
















          $("#updateAjaxBtn").click(function(event){
           
            var uid  = $(this).attr('for');
            var eid = $(this).attr('abc');
            var data = {"_method":"POST", "eventId": eid, "reqUserId": uid}

         var djson = JSON.stringify(data);
         var url = "{{ url_for('eventmatch_api.eventmatch_test_accept') }}";
   
         console.log(djson);
         $.ajax({
             type: "POST",
             url: url,
             data: djson,
             contentType: 'application/json;charset=UTF-8',
             error: function(e) {
               console.log("get an error");
               console.log(e);
             },
             success: function(data){
               window.location = '/event/view/' + eid;
              }
           
           });

         });


        });
    </script>
  </body>
</html>