<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->

    <link href={{ url_for('static', filename='../static/Flat-UI-master/bootstrap/css/bootstrap.css' )}} rel="stylesheet">

    <link href={{ url_for('static', filename='../static/jasny-bootstrap/css/jasny-bootstrap.min.css' )}} rel="stylesheet">

     <link href={{ url_for('static', filename='../static/jasny-bootstrap/css/jasny-bootstrap.css' )}} rel="stylesheet">



    <link href={{ url_for('static', filename='../static/Flat-UI-master/css/flat-ui.css' )}} rel="stylesheet">
    <link href={{ url_for('static', filename='../static/Flat-UI-master/images/favicon.ico' )}} rel="shortcut icon">

    <style>
    .form-control {
      color: #000000 !important;
    }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style=''> <!--for the navibar always top-->

    <div class='container'>

  <div>
            
      {% with active_nav='nav-settings' %}
        {% include "_header.html" %}
      {% endwith %}

        
        <div class='row' style='padding-top:53px'>

            <div class="col-md-4 text-center">    
                <h3>My Profile</h3>
                <h6></h6>
            </div>
          </div>
    
  <div class="col-md-4">
    <form class="form-horizontal" role="form">
      <fieldset disabled>

      <div class="from-group">

      <!-- <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>

    </div> -->
    {% if action == 'exist' and profile.image is not none %}
    <img src= '{{profile.image}}' alt="Profile photo" style="border: 2px solid #000; max-width:300px; max-height:450px;"/>  
   

    {% elif action == 'exist' and profile.image is none %}
    <img src='http://www.b2match.com/assets/fallback/default.png ' alt='User Profile Photo' class='img-thumbnail img-responsive' style="border: 2px solid #000; max-width:300px; max-height:450px;">
    

    {% elif action == 'create'%}
    <img src='http://www.b2match.com/assets/fallback/default.png ' alt='User Profile Photo' class='img-thumbnail img-responsive' style="border: 2px solid #000; max-width:300px; max-height:450px;">
    {% else %}
    {% endif %}
 <h6></h6>
      <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          {% if action == 'exist' %}
          <input type="text" id="name" class="form-control" value = '{{profile.name}}'>
          {% elif action == 'create'%}
          <input type="text" id="name" class="form-control" value = 'Your name'>
          {% else %}
          {% endif %}
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">

        {% if action == 'exist' %}
        
          {% if profile.gender == 'Male' %}
          <select id="gender" class="form-control">
            <option selected>Male</option>
            <option>Female</option>
          </select>
          {% else%}
          <select id="gender" class="form-control">
            <option>Male</option>
            <option selected>Female</option>
          </select>
          {% endif%}

        {% elif action == 'create'%}
        <select id="gender" class="form-control">
          <option>Male</option>
          <option>Female</option>
        </select>
        {% else %}
        {% endif %}
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-2 control-label">Age</label>
        <div class="col-sm-10">

          {% if action == 'exist' %}
          <input type="text" id="age" class="form-control" value = '{{profile.age}}'>
          {% elif action == 'create'%}
          <input type="text" id="age" class="form-control" value = 'Your age'>
          {% else %}
          {% endif %}
        </div>    
      </div>

      {% if current_user.id|string==profile.userID %}
      <div class="form-group">
        <label class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">

          {% if action == 'exist' %}
          <input type="text" id="phone" class="form-control" value = '{{profile.phone}}'>
          {% elif action == 'create'%}
          <input type="text" id="phone" class="form-control" value = 'Other member can not see your phone number unless matched, We will text you after your event is matched'>
          {% else %}
          {% endif %}
        </div>    
      </div>
      {% else %}
      {% endif %}



      <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-12">
          {% if action == 'exist' %}
          <textarea class="form-control" rows="3">{{profile.description}}</textarea>
          {% elif action == 'create'%}
          <textarea class="form-control" rows="3">Briefly describe yourself</textarea>
          {% else %}
          {% endif %}
        </div>    
      </div>


    </fieldset>

      <div class="from-group">

        {% if action == 'exist' %}
        <a type="button" class="btn btn-primary" href="{{ url_for('profile_api.api_profile_edit',  _uid = current_user.id ) }}">Edit</a>
        {% elif action == 'create'%}
        <a type="button" class="btn btn-primary" href="{{ url_for('profile_api.api_profile_create',  _uid = current_user.id ) }}">Edit</a>
        {% else %}
          {% endif %}

        <button type="button" class="btn btn-default" disabled="disabled">Cancel</button>
        
      </div>


    </form>
    
    
  </div>

</div>


    <!-- Load JS here for greater good =============================-->
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery-1.8.3.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery-ui-1.10.3.custom.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.ui.touch-punch.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap.min.js')}} ></script>


    <script src={{ url_for('static', filename='../static/jasny-bootstrap/js/jasny-bootstrap.min.js')}} ></script>
    <script src={{ url_for('static', filename='../static/jasny-bootstrap/js/jasny-bootstrap.js')}} ></script>



    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap-select.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/bootstrap-switch.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/flatui-checkbox.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/flatui-radio.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.tagsinput.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.placeholder.js')}} ></script>
    <script src={{ url_for('static', filename='../static/Flat-UI-master/js/jquery.scrollTo.min.js')}} ></script>
   
  </body>
</html>
