<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API</title>

    <!-- Bootstrap -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div><div>
    <div class="span12">
        <h2>RESTful APIs</h2>
  
          <table class="table table-striped">
            <thead>
              <tr>
                <th>endpoint</th>
                <th>methods</th>
                <th>url</th>
              </tr>
            </thead>
            <tbody>
            {% for item in links%}
              <tr>
                <td>{{ item.endpoint }}</td>
                <td>{{ item.methods }}</td>
                <td>{{ item.url }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
    
    <script src={{ url_for('static', filename='../static/jquery/jquery-1.11.0.js')}} ></script>
    <script src={{ url_for('static', filename = '../static/bootstrap/js/bootstrap.min.js')}} ></script>    
    <link href={{ url_for('static', filename='./bootstrap/css/bootstrap.min.css' )}} rel="stylesheet">
  </body>
</html>